.modalOverLay {
  background-color: rgba(24, 22, 22, 0.9);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modalWindow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  min-height: 200px;
  width: 600px;
  border-radius: 10px;
  font-weight: bold;
  // display: flex;
  // flex-direction: column;
  // align-items: center;

  .modalHeader {
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 25px;
    display: flex;
    justify-content: space-between;
  }

  .modalBody {
    padding: 35px 25px;
    line-height: 35px;
  }

  .modalFooter {
    margin-bottom: 25px;
  }

}